<template>
  <div>
    <div v-for="option in operationdata">
      <p class="title">{{option.title}}</p>
      <div class="list" v-for="data in option.optionlists">
        <router-link :to="{path:data.path}">
          <div class="main-part">
            <img :src='data.img'/>
            <p class="list-name">{{data.desc}}</p>
            <img class="imghint" src="./ic_1_3x.png"/>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  export default {
    data() {
      return {
        operationdata: [
//          {
//            title: '精选英美剧',
//            optionlists: [
//              {
//                "img": require('./ic_update_2x.png'),
//                'desc': '每日云更新',
//                'path': '/updated/' + new Date().getDay()
//              },
//              {
//                "img": require('./ic_end_2x.png'),
//                'desc': '精品云完结',
//                'path': '/terminate'
//              }
//            ]
//          },
//          {
//            title: '资源任你淘',
//            optionlists: [
//              {
//                "img": require('./ic_search_2x.png'),
//                'desc': '精准云搜索',
//                'path': '/search'
//              }
////              {
////                "img": require('./ic_boy_2x.png'),
////                'desc': '优质云达人',
////                'path': '/talent'
////              }
//            ]
//          },
//            {
//            title: '秋季必追榜',
//            optionlists: [
//              {
//                "img": require('./ic_mj.png'),
//                'desc': '美剧榜',
//                'path': '/updated/MJ'
//              },
//              {
//                "img": require('./ic_hj.png'),
//                'desc': '韩剧榜',
//                'path': '/updated/HJ'
//              },
//              {
//                  "img": require('./ic_rj.png'),
//                  'desc': '日剧榜',
//                  'path': '/updated/RJ'
//              }
//            ]
//          },
//            {
//                title: '育儿有方',
//                optionlists: [
//                    {
//                        "img": require('./ic_zywybdh.png'),
//                        'desc': '中英文原版动画',
//                        'path': '/updated/DH'
//                    },
//                    {
//                        "img": require('./ic_zjqm.png'),
//                        'desc': '早教启蒙',
//                        'path': '/updated/ZJ'
//                    },
//                    {
//                        "img": require('./ic_hjz.png'),
//                        'desc': '好家长必看',
//                        'path': '/updated/JZ'
//                    }
//                ]
//            },
            {
                title: '全网搜',
                optionlists: [
                    {
                        "img": require('./ic_wpyss.png'),
                        'desc': '网盘资源云搜索',
                        'path': '/search'
                    }
                ]
            },
            {
                title: '求片',
                optionlists: [
                    {
                        "img": require('./ic_qp.png'),
                        'desc': '帮你找片',
                        'path': '/QP'
                    }
                ]
            }
        ]
      }
    },
    created() {
      console.log(this.wkurl)
      document.title = '悟空百度云专区'
      window.sendCNZZ('主页','浏览');
    }
  };
</script>
<style lang="stylus" rel="stylesheet/stylus" type="text/stylus">
  @import "../../common/stylus/main.styl"
  .title
    font-size: 0.24em
    color: #999999
    padding-left 0.24rem
    height: 0.6rem
    line-height 0.6rem
    height: 0.6rem
    background: #f7f7f7
    border: 1px transparent solid;
    margin-top: -1px;

  .list
    height 1.08rem
    margin-left 1.16rem
    border-bottom: 1px solid #e1e1e1
    & > a
      text-decoration none

  .main-part
    height 1.08rem
    display: flex
    align-items center
    margin-left -1.16rem
    user-select none
    & > img
      height 0.72rem
      width 0.72rem
      margin-left 0.24rem
      margin-right 0.24rem
    & > .list-name
      font-size 0.28em
      color #333333
      flex 1
    & > .hinticon
      margin-right 0.42rem
      height 0.24rem
      width 0.24rem
      border: 2px solid #999999;
      border-top: 0;
      border-right: 0;
      border-radius 4px
    & > .imghint
      width 0.24rem
      height 0.24rem
  /*左箭头*/
  .back
    float: left;
    transform: rotate(45deg);

  /*右箭头*/
  .go
    float: right;
    transform: rotate(-135deg);
</style>
