<template>
  <div>
    <div class="wkdownload" @click="gotoPage(link)">
      <img src="./logo.png"/>
      <div>
        <p>悟空遥控器</p>
        <p class="downinfo">让手机化身遥控器</p>
      </div>
      <button>下载APP</button>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  export default {
    props: {
        link:''
    },
    methods: {
      gotoPage:function(link){
        console.log(link)
        if(link){
          window.location.href = link
        }
      }
    }
  };
</script>
<style lang="stylus" rel="stylesheet/stylus" type="text/stylus">
  .wkdownload
    width 100%
    height 0.96rem
    position fixed
    bottom 0px
    left 0px
    right 0px
    display flex
    align-items center
    background #f7f7f7
    & > img
      width 0.72rem
      height 0.72rem
      margin 0.12rem 0.12rem 0.12rem 0.24rem
      border-radius 6px
    & > div
      & > p
        font-size 0.28em
        color #333333
      .downinfo
        font-size 0.24em
        color #999999
    & > button
      width 1.4rem
      height 0.56rem
      background #7278fb
      border-radius 4px
      margin-left auto
      margin-right 0.24rem
      font-size 0.24em
      color #ffffff
      border none
      user-select none
      -webkit-touch-callout none
      outline none
</style>
