<template>
  <div>
    <!--<div class="tab" v-if="$route.params.id && $route.params.id!='new'">-->
      <!--<div class="tab-item" v-for='week in cycle'>-->
        <!--<router-link :to="{path:week.path}" replace>{{week.num}}</router-link>-->
      <!--</div>-->
    <!--</div>-->
    <div>
      <div class="mylist" v-for="(list,inx) in vlists">
        <router-link :to="{ path:'/videodetail/'+ list.vid }">
          <img class="videoimg" :src="list.img" @error="imgDefault(inx)"/>
          <div class="info-part">
            <p class="name">{{list.name + " " + list.separation}}</p>
            <p class="short-desc">更新至&nbsp;:&nbsp;<span class="episode">第{{list.episodes}}</span>集&nbsp;&nbsp;高清&nbsp;&nbsp;中英文字幕</p>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  export default {
    data() {
      return {
        cycle: [
          {'num': '周一', path: '/updated/1'},
          {'num': '周二', path: '/updated/2'},
          {'num': '周三', path: '/updated/3'},
          {'num': '周四', path: '/updated/4'},
          {'num': '周五', path: '/updated/5'},
          {'num': '周六', path: '/updated/6'},
          {'num': '周日', path: '/updated/0'}
        ],
        vlists: []
      }
    },
    created(){
      this.getVideosList();
//      if(this.$route.params.id){
//        document.title = '云更新';
//        window.sendCNZZ('更新列表','浏览');
//      }else{
//        document.title = '云完结';
//        window.sendCNZZ('完结列表','浏览');
//      }

        switch(this.$route.params.id){
            case 'MJ':
                document.title = '美剧榜';
                window.sendCNZZ('云资源','美剧榜');
                break;
            case 'HJ':
                document.title = '韩剧榜';
                window.sendCNZZ('云资源','韩剧榜');
                break;
            case 'RJ':
                document.title = '日剧榜';
                window.sendCNZZ('云资源','日剧榜');
                break;
            case 'DH':
                document.title = '中英文原版动画';
                window.sendCNZZ('云资源','中英文原版动画');
                break;
            case 'ZJ':
                document.title = '早教启蒙';
                window.sendCNZZ('云资源','早教启蒙');
                break;
            case 'JZ':
                document.title = '好家长必看';
                window.sendCNZZ('云资源','好家长必看');
                break;
            case 'QP':
                document.title = '帮你找片';
                window.sendCNZZ('云资源','帮你找片');
                break;
            default:
                document.title = '网盘资源云搜索';
                window.sendCNZZ('云资源','网盘资源云搜索');
        }
    },
    watch: {
      '$route' (to, from){
        var weeknum = to.path.split('/updated/')[1];
        this.$http.get(this.wkurl + 'rrmj/videolist?w=' + weeknum)
          .then(response => {
          // get body data
          response = response.body;
        if (response.status == 0) {
          this.vlists = response.data;
        }
      })
      }
    },
    methods: {
      getVideosList: function () {
        var url = this.wkurl + 'rrmj/videolist';
        if (this.$route.params.id) {
          url = url + "?w=" + this.$route.params.id
        }
        this.$http.get(url).then(response => {
          response = response.body
          this.vlists = response.data;
        })
      },
      imgDefault:function(index){
        this.vlists[index].img = require('./ic_share_init.png');
      }
    },
    components: {}
  };
</script>
<style lang="stylus" rel="stylesheet/stylus" type="text/stylus">
  .tab
    display: flex
    height 0.88rem
    align-items: center
    padding 0px 0.36rem
    justify-content: center
    border-bottom: 1px solid #e1e1e1
    .tab-item
      flex: 1
      text-align: center
      & > a
        user-select none
        display: block
        font-size 0.28em
        color: #c7c7c7
        text-decoration: none
        &.active
          color #7174ff

  .mylist
    display: flex
    margin: 0.24rem 0rem 0px 0.24rem
    height: 1.16rem
    align-items center
    & > a
      width 100%
      display flex
      text-decoration none
      user-select none

  .videoimg
    display block
    width 0.88rem;
    min-width 0.88rem
    height: 1.16rem;

  .info-part
    width 100%;
    height 1.17rem;
    margin-left 0.2rem
    margin-top 0.01rem
    border-bottom: 1px solid #e1e1e1
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/


  .name
    font-size: 0.28em
    color: #333333
    line-height 1
    padding-top 0.12rem
    margin-bottom 0.12rem
  .short-desc
    font-size 0.24em
    color: #999999
    line-height 1
  .episode
    color #999999
    font-size 1em
    line-height 1

</style>
