<template>
  <div>
    <div class="playbg" @click="getSharePage(sharelink)">
      <img class="bgimg" :src='bgimg'/>
      <div class="bg">
        <img class="gif" :src="playimg"/>
        <p class="playontv">在电视上观看</p>
      </div>
    </div>
  <p class="sname">{{sname}}</p>
  <button class="save" @click="getSharePage(sharelink)">保存到百度网盘</button>
  <wkdown :link='sharelink'></wkdown>
  </div>
</template>

<script type="text/ecmascript-6">
  import {urlParse} from '../../common/js/wkshare'
  import {initShareInfo} from '../../common/js/wkshare'
  import wkdown from '../../components/wkdownloadpart/wkdownloadpart.vue'
  export default {
    data() {
      return {
        'bgimg': require('./ic_share_init.png'),
        'playimg': require('./ic_play_2x.png'),
        'sname': '',
        'sharelink': ''
      }
    },
    created() {
      let queryParam = urlParse();
      let temp_bgimg = queryParam.bgimg;
      let temp_sname = queryParam.sname;
      if(temp_bgimg!= undefined){
        this.bgimg = decodeURIComponent(temp_bgimg);
      }
      if(temp_sname!=undefined){
        this.sname = decodeURIComponent(temp_sname);
      }
      let wklink = "http://share.wukongtv.com/loader/loader.html?url=" + encodeURIComponent(queryParam.slink);
      this.sharelink = wklink;
      this.setSelfShareInfo();
      window.sendCNZZ('百度云视频详情页','浏览');
    },
    methods: {
      getSharePage: function (link) {
        if (link) {
          window.location.href = this.sharelink
        }
      },
      setSelfShareInfo:function(){
        var newData = {
          title: "我用悟空遥控在电视上看百度云中的" + this.sname + '，简直太棒了！！！',
          content: "电视上看视频、下应用、百度云投屏、网络投屏就用悟空遥控器",
          link: window.location.href,
          cover: "" + this.bgimg,
          ccover: "" + this.bgimg
        };
        initShareInfo(newData);
      }
    },
    components: {
      "wkdown": wkdown
    }
  };
</script>
<style lang="stylus" rel="stylesheet/stylus" type="text/stylus">
  .playbg
    width 6.24rem
    height 3.6rem
    margin-top 0.8rem
    border-radius 4px
    display block
    margin-left auto
    margin-right auto
  .bgimg
    width 100%
    height 100%
    border-radius 4px
  .bg{
    position: absolute;
    top: 0.8rem;
    height 3.6rem
    width 6.24rem
    background: rgba(0,0,0,0.5);
  }
  .gif
    width 1.22rem
    height 1.22rem
    position absolute
    left 50%
    top: 1.24rem;
    margin-left -0.61rem
    margin-top -0.48rem
  .playontv
    font-size: 0.24em;
    text-align: center;
    color: #fff;
    position: relative;
    top: 2.24rem;
  .sname
    font-size 0.28em
    text-align center
    margin-top 0.32rem
    margin-left 0.24rem
    margin-right 0.24rem
    line-height 1.3
    color #333333
  .save
    display block
    margin-top 1.12rem
    height 0.88rem
    font-size 0.36em
    color #ffffff
    border-radius 4px
    background #7174ff
    line-height 0.88rem
    padding-left 0.24rem
    padding-right 0.24rem
    border none
    outline none
    user-select none
    -webkit-touch-callout none
    margin-right auto
    margin-left auto
</style>
