<template>
  <div>
    <div class="video-info">
      <img class="header" :src='videodata.img' @error="imgDefault">
      <div class="right-content">
        <p class="content-option">基本信息</p>
        <!--<p class="video-desc">{{videodata.name}}</p>-->
        <p class="option-p">导演&nbsp;&nbsp;<span class="option-span">{{videodata.director}}</span></p>
        <div class="line"></div>
        <p class="option-p">主演&nbsp;&nbsp;<span class="option-span">{{videodata.star}}</span></p>
        <p class="option-p">首播&nbsp;&nbsp;<span class="option-span">{{videodata.show_time}}</span></p>
        <p class="option-p">集数&nbsp;&nbsp;<span class="option-span">{{(videodata.eplinks).length}}</span></p>
      </div>
    </div>
    <div class="between-line"></div>
    <p class="desc">剧集</p>
    <div class="video-episodes">
      <p v-for="(link,index) in videodata.eplinks" @click.stop="goToBaidu(link.vhref)">{{index+1}}</p>
    </div>
    <wkdown :link='videodata.sharelink' v-if='this.$route.params.from'></wkdown>
  </div>
</template>

<script type="text/ecmascript-6">
  import {initShareInfo} from '../../common/js/wkshare'
  import wkdown from '../../components/wkdownloadpart/wkdownloadpart.vue';
  export default {
    data() {
      return {
        videodata: {
          sharelink: (() => {
            let temp = window.location.href.split('?')[0] + window.location.hash;
            temp = temp.replace('share', '');
            let wklink = "http://share.wukongtv.com/loader/loader.html?url=" + encodeURIComponent(temp);
            return wklink;
          })()
        }
      }
    },
    created(){
      var url = this.wkurl + "/rrmj/videodetail?vid=" + this.$route.params.id;
      this.$http.get(url).then(response => {
        response = response.body;
      if (response.status == 0) {
        this.videodata = Object.assign({}, this.videodata, response.data)
      }
      document.title = this.videodata.name + this.videodata.separation;
      })
      console.log(this.$route.params.id)
    },
    components: {
      'wkdown': wkdown
    },
    updated() {
      let mVideodata = this.videodata;
      let temp_title = (mVideodata.name + mVideodata.separation).replace(/undefined/g, '');
      let temp_link = window.location.href.indexOf('/share') > -1 ?
        window.location.href : window.location.href + '/share';
      var newData = {
        title: "我用悟空遥控在电视上看百度云中的" + temp_title + '，简直太棒了！！！',
        content: "电视上看视频、下应用、百度云投屏、网络投屏就用悟空遥控器",
        link: temp_link,
        cover: "" + mVideodata.img,
        ccover: "" + mVideodata.img
      };
      initShareInfo(newData);
    },
    methods: {
      goToBaidu: function (link) {
        if (link) {
          if (!this.$route.params.from) {
            window.location.href = link;
          } else {
            window.location.href = this.videodata.sharelink;
          }
        } else {
          if (!this.$route.params.from) {
            this.showToast("暂无百度云资源，请尝试到云搜索获取");
          } else {
            window.location.href = this.videodata.sharelink;
          }
        }
      },
      showToast: function (message) {
        $('.toast').text(message);
        $('.toast').fadeIn(400).delay(3000).fadeOut(400);
      },
      imgDefault:function(){
        this.videodata.img = require('./ic_share_init.png');
      }
    }
  };
</script>
<style lang="stylus" rel="stylesheet/stylus" type="text/stylus">
  .video-info
    padding 0.32rem
    display flex

  .header
    width 2rem
    min-width 2rem
    height 2.64rem
  .right-content
      margin-left 0.24rem
  .option-p
      font-size 0.24em
      color #999999
      margin-top 0.2rem
      line-height 1
  .option-span
        font-size 1.167em
        color #333333
  .content-option
    margin-top 0.1rem
    color #333333
    font-size 0.28em

  .video-desc
    padding-left 0.24rem
    height 0.88rem
    line-height 0.88rem
    font-size 0.32em
    color #333333
    border-bottom 1px solid #e1e1e1

  .column
    flex-basis 100%
    display flex
    align-items center
    & > div
      height 1em
      width 2px
      background #e1e1e1
      margin-left 0.24rem
      margin-right 0.24rem
    & > p
      max-width: 45%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;

  .col-padding
    margin-top 0.24rem

  .between-line
    height 0.16rem
    width 100%
    background #f7f7f7

  .desc
    padding-left 0.24rem
    font-size 0.32em
    color #333333
    line-height 0.88rem
    height 0.88rem

  .video-episodes
    display flex
    flex-wrap wrap
    align-items center
    & > p
      width: 16.66%;
      min-width: calc(16.66% + 1px)
      height: 16.66vw;
      line-height: 16.66vw;
      text-align center
      font-size 0.36em
      color #333333
      border 1px solid #e1e1e1;
      box-sizing: border-box;
      margin-right -1px
      margin-top -1px
      &:active
        background  #eaeaea
      &:hover
        background #eaeaea
  .trans
    transform: translateY(-25);
</style>
