<template>
  <div>
    <div class="talent-list" v-for="(talent,index) in talents">
      <div class="tacolumn">
        <img class="headericon" :src="talent.headicon"/>
        <p class="tname">{{talent.name}}&nbsp;:&nbsp;<span>分享了{{talent.total}}个文件</span></p>
      </div>
      <div class="file-lists" @click.stop="gotoHome(talent.home)">
        <div class="list" v-for="filelist in talent.recent">
          <img class="fileicon" :src="fileicon"/>
          <p class="filename">{{filelist.filename}}</p>
        </div>
        <p class="point">...</p>
      </div>
      <div class="between-line" v-if=show(index)></div>
    </div>
  </div>
</template>

<script type="text/ecmascript-6">
  export default {
    data () {
      return {
        talents: [],
        fileicon: require('./ic_file_2x.png')
      }
    },
    created(){
      var url = this.wkurl + "rrmj/gettalent";
      this.$http.get(url).then(response => {
        response = response.body;
      if (response.status == 0) {
        this.talents = response.data
      }
      document.title = "悟空百度达人";
      window.sendCNZZ('达人页','浏览');
    })
    },
    methods: {
      gotoHome: function (link) {
        if (link) {
          window.location.href = link
        }
      },
      show:function(len){
        var status = 0
        if(len+1 < this.talents.length){
          status = 1
        }
        return status
      }
    }
  };
</script>
<style lang="stylus" rel="stylesheet/stylus" type="text/stylus">
  .talent-list
    display flex
    flex-wrap: wrap;

  .tacolumn
    display flex
    flex-basis: 100%;
    height 1.2rem
    align-items center

  .headericon
    width 0.72rem
    height 0.72rem
    border-radius 0.72rem
    margin 0.24rem 0.2rem 0.24rem 0.24rem

  .tname
    font-size 0.28em
    color #999999
    & > span
      color #333333

  .file-lists
    width 100%
    background #f7f7f7
    margin-left 1.16rem
    margin-right 1.16rem
    padding 0.2rem
    padding-bottom 0px
    & > .list
      height 0.4rem
      display flex
      margin 0
      margin-bottom 0.16rem
      border none
  .fileicon
    width 0.34rem
    min-width 0.34rem
    height 0.4rem
    display block
    margin-right 0.16rem
  .filename
    height 0.4rem
    font-size 0.24em
    color #333333
    line-height 0.4rem
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break break-all;
    padding-right 0.24rem
  .between-line
    height 0.16rem
    width 100%
    margin-top 0.32rem
    background #f7f7f7
  .point
    height 0.44rem
    margin-top -0.16rem
    font-size 0.24em
    color #333333
    line-height 0.44rem
    padding-bottom 0.5em
    letter-spacing: 0.2em;
    font-weight 600
</style>
