*
  margin: 0px
  padding 0px
body
  font-size 50px
@media (-webkit-min-device-pixel-ratio: 2)
  body
    font-size: 100px

@media (-webkit-min-device-pixel-ratio: 2.6)
  body
    font-size: 150px

@media (-webkit-min-device-pixel-ratio: 3.5)
  body
    font-size: 200px

@media (-webkit-min-device-pixel-ratio: 4)
  body
    font-size: 250px
