<template>
  <div>
    <router-view></router-view>
    <button id="share"></button>
    <p class="toast"></p>
  </div>
</template>

<script type="text/ecmascript-6">
  import wkdown from './components/wkdownloadpart/wkdownloadpart.vue';
  export default {
      components:{
        'wkdown':wkdown
      }
  };
</script>
<style lang="stylus" rel="stylesheet/stylus" type="text/stylus">
  @import "./common/stylus/main.styl"
  #share
    display none
  .toast
    display: none;
    position: fixed;
    width: 6rem;
    left: 50%;
    margin-left: -3rem;
    bottom: 1rem;
    text-align: center;
    color: #ffffff;
    font-size: 0.32em;
    padding-top: 0.08rem;
    padding-bottom: 0.08rem;
    background: rgba(0,0,0,0.5);
    border-radius: 6px;
</style>
