<template>
    <div>
      <p class="y-title title-padding pad-bottom">{{wkbdydata.ytitle}}</p>
      <p class="y-title">{{wkbdydata.ystitle}}</p>
      <img class="y-header-img title-padding" :src="wkbdydata.yheadimg"/>
      <p class="yttitle">{{wkbdydata.yttile}}</p>
      <div v-for="desc in wkbdydata.ydescs">
        <img class="ydesc-img" :src="desc.descimg">
        <p class="ydesc">{{desc.desc}}</p>
      </div>
      <div class="bottom-padding"></div>
      <wkdown :link='wkbdydata.mainlink'></wkdown>
    </div>
</template>

<script type="text/ecmascript-6">
  import wkdown from '../../components/wkdownloadpart/wkdownloadpart.vue';
    export default {
        data() {
          return {
            wkbdydata:{
              'ytitle':'在电视上看百度云,悟空遥控',
              'ystitle':'引领极致体验',
              'yheadimg':require('./synopsis_headimg.png'),
              'yttile':'热门影视——发现——百度云',
              'ydescs':[
                {
                  'desc':'每日云更新,追剧没有痛苦',
                  'descimg':require('./ic_update.png')
                },
                {
                  'desc':'精品云完结,激情从未退怯',
                  'descimg':require('./ic_end.png')
                },
                {
                  'desc':'精准云搜索,资源信手捏来',
                  'descimg':require('./ic_search.png')
                },
                {
                  'desc':'优质云达人,看剧不再迷茫',
                  'descimg':require('./ic_boy.png')
                }
              ]
            }
          }
        },
        created() {
          var selflink = window.location.href.split('?')[0]
          var wklink = "http://share.wukongtv.com/loader/loader.html?url=" + encodeURIComponent(selflink);
          console.log(wklink);
          this.$set(this.wkbdydata,'mainlink',wklink)
          document.title = '悟空百度云功能介绍';
          window.sendCNZZ('功能详情页','浏览');
        },
        components:{
          'wkdown':wkdown
        },
        methods: {

        }
    };
</script>
<style lang="stylus" rel="stylesheet/stylus" type="text/stylus">
    .title-padding
      margin-top 0.88rem
    .y-title
      font-size 0.36em
      color #333333
      line-height 1.2
      text-align center
    .y-header-img
      display flex
      margin-left auto
      margin-right auto
    .yttitle
      text-align center
      font-size 0.30em
      color #666666
      margin-top 0.32rem
      margin-bottom 1.48rem
    .ydesc-img
      display flex
      margin-right auto
      margin-left auto
    .ydesc
      text-align center
      margin-top 0.36rem
      margin-bottom 1.48rem
      font-size 0.28em
      color #999999
    .bottom-padding
        width 100%
        height 0.92rem
        user-select none
        border none
    .pad-bottom
      margin-bottom 0.6rem
</style>
